* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #7c1212;
    color: #ffffff;
}

div:last-of-type {
    border: 2px solid #000000;
    width: 250px;
    height: 250px;
}