:root {
    --red:  #7c1212;
    --white: #ffffff;
    --black: #2a2a2a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-title {
    background-color: var(--red);
    color: var(--white);
}

.collab-div {
    border: 2px solid var(--black);
    width: 250px;
    height: 250px;
}

.dati {
    border: 1px solid var(--red);
    height: 250px;
    width: 250px;
}

.name {
    color: var(--red);
    font-weight: bold;
}